body {
    font-size: 20px;
    font-family: fantasy; 
    background-image: url("media/valk-coaching-achtergrond.jpg");
margin-left: 172px;
margin-right: 172px;
margin-top: 0px;
}

tr.general-navi {
    margin: 5;
    background-color: skyblue;
    overflow: hidden;
}

td.general-navi:hover {
    float: center;
    display: block;
    padding: 5px 5px;
    background-color: aqua;
}

/* specifiek plaatje : "vliegende vogel" aanpassen */
img.vliegendevogel {
    width: 100%;
}

table {
/* breedte tabel is gelijk aan "body" */
    width: 100%;
}

/* algemene stijl voor alle td tags */
td {
    border: 2px solid blue;
    text-align: center;
    /* background-color: blue; */
}

td:hover {
    background-color: aqua
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}

p {
    font-size: 12px;
}

